<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/80841edeb8.js" crossorigin="anonymous" defer></script>
    <link rel="stylesheet" href="chat.css">
    <title>Group Chat</title>
</head>

<body>
    <main>
        <header>
            <div class="title">
                <h2>Chat App</h2>
            </div>
            <button id="show" onclick="showhide()">
                <i class="fa-solid fa-bars"></i>
            </button>
        </header>


        <div class="container">
            <div class="users-window">
                <div class="user-head">
                    <h3>Users</h3>
                    <button id="creategroup" onclick="showoption()"><i
                            class="fa-solid fa-magnifying-glass"></i></button>
                </div>
                <div class="find">
                    <!-- <input type="text" id="inputusername">
                    <button type="button" id="searchUser">Search</button> -->
                    <ul id="searchResult">

                    </ul>
                </div>
                <div class="user-window">

                    <div class="user-list">
                        <ul id="users"></ul>
                    </div>
                </div>
                <div class="group-header">
                    <h3>Groups</h3>
                    <button id="creategroup" onclick="creategroup()"><i class="fa-solid fa-plus"></i></button>
                </div>
                <div class="create-group">
                    <input type="text" placeholder="Enter group name" id="inputgroupname">
                    <br>
                    <button id="createGroup">Create</button>
                </div>
                <div class="groups">
                    <div class="group-list">
                        <ul id="groupName">

                        </ul>
                    </div>
                </div>
            </div>

            <!-- <div class="groups">
                <p>hii</p>
            </div> -->

            <div class="chat-window">
                <div class="grouphead">
                    <h3 id="groupheading"></h3>
                </div>
                <div class="chats">
                    <div class="user-joined">
                        <ul id="joinedUser">

                        </ul>
                    </div>
                    <div class="messageContainer">
                        <div class="msgComming left"></div>
                        <div class="msgComming right"></div>
                    </div>
                    <div class="messages incoming">
                        <ul id="addingMsg" class="moveright"></ul>
                        <!-- <h5 id="userName"></h5> -->
                        <p class="msg"></p>
                        <ul></ul>
                    </div>
                    <div class="messages outgoing">
                        <ul id="addingMsg2" class="moveleft"></ul>
                        <h5 id="userName"></h5>
                        <p class="msg2"></p>
                    </div>
                </div>
                <div class="user-input">
                    <input type="text" placeholder="enter message.." id="userMessage">
                    <button id="send">Send</button>
                </div>
            </div>
        </div>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js" integrity="sha512-xbQU0+iHqhVt7VIXi6vBJKPh3IQBF5B84sSHdjKiSccyX/1ZI7Vnkt2/8y8uruj63/DVmCxfUNohPNruthTEQA==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.4/axios.js"></script>
    <script src="./chat.js"></script>
    <script>
        var userwindow = document.querySelector('.users-window');
        var creategroupWindow = document.querySelector('.create-group');
        var findClass = document.querySelector('.find');
        function showhide() {
            if (userwindow.style.display == 'block') {
                userwindow.style.display = "none"
            }
            else {
                userwindow.style.display = "block"
            }
        }

        function creategroup() {
            if (creategroupWindow.style.display == 'block') {
                creategroupWindow.style.display = "none";
            }
            else {
                creategroupWindow.style.display = "block";
            }
        }

        async function showoption() {
            try {
                const parentElement = document.getElementById('searchResult');
                parentElement.innerHTML = "";
                if (findClass.style.display == 'block') {
                    findClass.style.display = "none"
                }
                else {
                    findClass.style.display = "block";

                    let users = await axios.get("http://localhost:3000/user/getUsers");
                    users.data.allUsers.forEach(user => {
                        showAllUser(user);
                    })
                }

            }
            catch (err) {
                console.log(err);
            }
        }

        async function showAllUser(user) {
            try {
                const parentElement = document.getElementById('searchResult');
                const childElement = document.createElement('li');
                const token = localStorage.getItem('usertoken');
                console.log("token  ", token);
                const btn = document.createElement('input');
                btn.type = "button"
                btn.value = "Add user";
                btn.setAttribute('id', user.id);
                btn.className = 'liButton'

                childElement.textContent = user.name;

                btn.onclick = async () => {
                    try {
                        const userid = btn.id;
                        const groupid = localStorage.getItem('currentgroupid');
                        const token = localStorage.getItem('usertoken');
                        const adminid = localStorage.getItem('loginuserID');
                        console.log("ttoken ", token)
                        console.log("user added group id ", groupid)
                        const useradded = await axios.post(`http://localhost:3000/group/adduser/${userid}/${groupid}/${adminid}`)
                        console.log(useradded.data.User);
                        show_Users(useradded.data.User);
                        alert(useradded.data.message);
                    }
                    catch (err) {
                        alert(useradded.data.message);
                        console.log(err);
                    }

                }

                parentElement.appendChild(childElement);
                childElement.appendChild(btn);
            }
            catch (err) {
                console.log(err);
            }
        }

        async function show_Users(user) {
            try {
                const parentEle = document.getElementById('users');
                const childElement = document.createElement('li');
                let adminId = localStorage.getItem('adminId');
                console.log(user.id == adminId);
                if (user.admin == 1) {
                    childElement.textContent = `${user.name} : Admin`;
                    parentEle.appendChild(childElement);
                }
                else if (user.admin == 0) {
                    const removebtn = document.createElement('input');
                    removebtn.type = "button"
                    removebtn.className = 'removeuser';
                    removebtn.value = "remove";
                    removebtn.setAttribute('id', user.id);

                    const adminbtn = document.createElement('input');
                    adminbtn.type = "button"
                    adminbtn.className = 'makeAdmin';
                    adminbtn.value = "make Admin";
                    adminbtn.setAttribute('id', user.id);

                    childElement.textContent = user.name;
                    parentEle.appendChild(childElement);
                    childElement.appendChild(removebtn);
                    childElement.appendChild(adminbtn);


                    adminbtn.onclick = async (e) => {
                        try {
                            const userid = adminbtn.id;
                            const groupid = localStorage.getItem('currentgroupid');
                            const adminid = localStorage.getItem('loginuserID');
                            const response = await axios.post(`http://localhost:3000/group/makeadmin/${userid}/${groupid}/${adminid}`);
                            alert(response.data.message);
                            if (response.status == 201) {
                                e.target.previousSibling.remove();
                                e.target.remove();
                            }
                        }
                        catch (err) {
                            console.log("make admin error", err)
                        }
                    }

                    removebtn.onclick = async (e) => {
                        try {
                            const userid = removebtn.id;
                            const groupid = localStorage.getItem('currentgroupid');
                            const adminid = localStorage.getItem('loginuserID');
                            const response = await axios.post(`http://localhost:3000/group/removeuser/${userid}/${groupid}/${adminid}`);
                            alert(response.data.message);
                            if (response.status == 201) {
                                e.target.parentElement.remove();
                            }
                        }
                        catch (err) {

                        }
                    }


                }
            }
            catch (err) {
                console.log(err)
            }
        }
    </script>

</body>

</html>