<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/80841edeb8.js" crossorigin="anonymous" defer></script>
    <link rel="stylesheet" href="chat.css">
    <title>Group Chat</title>
</head>
<body>
    <main>
        <header>
            <div class="title">
                <h2>Chat App</h2>
            </div>
            <button id="show" onclick="showhide()">
                <i class="fa-solid fa-bars"></i>
            </button>
        </header>

        <div class="container">
            <div class="users-window">
                <div class="user-head">
                    <h3>Users</h3>
                </div>
                <div class="user-list">
                    <ul id="users"></ul>
                </div>
            </div>
            <div class="chat-window">
                <div class="chats">
                <div class="user-joined">
                    <ul id="joinedUser">
                
                    </ul>
                </div>
                <div class="messages incoming">
                    <h5 id="userName">raj</h5>
                    <p id="msg">hello</p>
                </div>
                <div class="messages outgoing">
                    <h5 id="userName"></h5>
                    <p id="msg"></p>
                </div>
                </div>
                <div class="user-input">
                    <input type="text" placeholder="Enter your massage.." id="userMessage">
                    <button id="send">Send</button>
                </div>
            </div>
        </div>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.4/axios.js"></script>
    <script src="./chat.js"></script>
    <script>
        var userwindow = document.querySelector('.users-window')
        function showhide(){
            if(userwindow.style.display == 'block'){
                userwindow.style.display = "none"
            }
            else{
                userwindow.style.display = "block"
            }
        }
    </script>
    
</body>
</html>